* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #fff;
}

body {
  line-height: 1.6;
}

header {
  background: black;

  padding: 10px 0;
}
.typewriter {
  font-family: "Silkscreen", serif;
  font-weight: 400;
  font-style: normal;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

section {
  padding: 10px;
  text-align: center;
  /*background-color: #a4b1a8;*/
  background-color: black;
}

#home {
  background: black;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.intro h1 {
  margin-bottom: 10px;
  font-size: 2.5em;
  color: #fff4f4;
}

.intro p {
  font-size: 1.2em;
  color: #ffffff;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 400px;
  margin: 0 auto;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
}

footer {
  background: black;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
#photo {
  transition: box-shadow 0.5s ease;
  border-radius: 20%;
  width: 150px;
  height: 180px;
  object-fit: cover;
}
#photo:hover {
  box-shadow: 0.2rem 0.2rem 0.4rem crimson;
}

#descripcion {
  font-size: 20px;
}
img {
  padding: 0;
  border: 0;
  margin: 25px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en varias líneas si es necesario */
  gap: 20px; /* Espaciado entre las tarjetas */
  justify-content: center; /* Centra las tarjetas en el contenedor */
}

.card {
  width: 18rem; /* Ancho de la tarjeta */
}

.card-links {
  margin-top: 15px; /* Espacio superior para el enlace */
  display: flex;
  justify-content: center; /* Alinea el enlace al centro */
}

.card-links a {
  text-decoration: none; /* Elimina subrayado */
  color: white; /* Cambia el color del texto */
  background-color: #007bff; /* Fondo de enlace */
  padding: 10px 20px; /* Relleno alrededor del enlace */
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Transición para hover */
}

.projects-container {
  text-align: center;
}
.imagen {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
}
.Certifications-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en varias líneas si es necesario */
  gap: 40px; /* Espaciado entre las tarjetas */
  justify-content: center; /* Centra las tarjetas en el contenedor */
  margin: 2em;
}
.contact {
  color: black;
}
